@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@property --angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@keyframes rotate {
	from {
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}

@utility text-gradient-* {
	@apply bg-clip-text text-transparent inline-block;
	background-image: --value(--gradient-*);
}

@theme {
	/* Fonts */
	--font-sans: "Poppins", sans-serif;
	--font-heading: "Roboto", sans-serif;

	/* Colors */
	--color-*: initial;
	--color-white: oklch(99.227% 0.00679 324.853);
	--color-black: oklch(17.565% 0.05773 254.952);
	--color-navy: oklch(17.89% 0.09949 266.214);
	--color-red: oklch(14.824% 0.03438 349.063);
	--color-pink: oklch(44.903% 0.15296 353.796);
	--color-light-gold: oklch(85.775% 0.0538 61.433);
	--color-gold: oklch(55.478% 0.1109 56.711);
	--color-cyan: oklch(60.749% 0.08652 237.446);

	/* text gradient stops */
	--c1: var(--color-light-gold);
	--c2: var(--color-gold);

	--gradient-gold: radial-gradient(
		at center,
		var(--c1) 5%,
		var(--c2)
	);

	--animate-reveal-down: reveal-down 2s cubic-bezier(0.16, 1, 0.3, 1) both;
	--animate-reveal-radial: reveal-radial 1.5s ease-in;

	@keyframes reveal-down {
		from {
			clip-path: inset(0 0 100% 0);
			opacity: 0;
		}

		to {
			clip-path: inset(0 0 0 0);
			opacity: 1;
		}
	}

	@keyframes reveal-radial {
		from {
			transform: scale(0);
			opacity: 0;
		}
		to {
			transform: scale(1);
			opacity: 1;
		}
	}
}

@layer base {
	:root {
		@apply relative bg-radial-[circle_at_left_top,navy_-10%,black_100%] text-base text-white font-sans flex justify-center max-w-360 w-dvw min-h-dvh overflow-x-hidden;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	a {
		@apply no-underline text-inherit;
	}

	p,
	li {
		@apply mt-2 text-start;
	}

	h1,
	h2,
	h3 {
		@apply font-heading;
	}

	h1 {
		@apply text-6xl
					 mb-4
					 wrap-break-word
					 font-semibold
					 leading-[1.1];
	
		@media screen and (max-width: 640px) {
			@apply text-5xl;
		}
	}

	h2 {
		@apply mt-3
					mb-3
					text-2xl
					font-light
					wrap-break-word
					leading-none
					/* text-center
					md:text-start */;
	}

	h3 {
		@apply mt-3
					mb-3
					text-lg
					tracking-widest
					uppercase
					leading-none
					/* text-center
					md:text-start */;
	}

	.short-note {
		@apply text-sm italic capitalize tracking-normal m-0;
	}
}

@layer utilities {
	.glass-card {
		@apply bg-white/10 backdrop-blur-sm border border-white/10 rounded-xl before:content-[""] before:absolute before:inset-0 before:rounded-xl before:border before:border-white/20;
	}
}

@layer components {	
	#app {
		@apply relative flex flex-col items-center justify-center h-dvh z-0 overflow-hidden;

		.hero-background {
			@apply absolute top-0 left-0 -z-1 pointer-events-none;
		}

		.hero-container {
			@apply flex flex-col items-center z-2 m-2 sm:m-4 p-4 sm:p-10;
		}

		.hero-sub-container {
			@apply flex flex-col items-center z-3;
		}

		.hero-top {
			@apply flex flex-col justify-center items-center lg:flex-row lg:justify-start lg:items-start gap-4 lg:gap-6;
		}

		.hero-img-container {
			@apply lg:order-2;
		}

		.hero-img {
			@apply w-28 h-28 rounded-xl opacity-90 shadow-[0_0_16px_rgba(2,7,60,0.8)];
		}
		
		.hero-content {
			@apply flex flex-col items-center gap-6 lg:order-1;
		}

		.hero-headings {
			@apply flex flex-col items-start justify-center;
		}

		.hero-stack {
			@apply mb-0;
		}

		.hero-stack p {
			@apply mt-0;
		}

		.hero-buttons {
			@apply flex flex-wrap items-center justify-center md:justify-end gap-4 w-full mt-16;		
		}

		.btn-link {
			@apply no-underline text-inherit;
		}

		.btn-animated-cta {
			@apply relative rounded-md p-0.5 before:content-[''] before:absolute before:inset-0 before:rounded-md before:bg-[conic-gradient(from_var(--angle),color-mix(in_oklch,var(--color-white)_10%,transparent),var(--color-gold),transparent_15%)] before:animate-[rotate_5s_linear_infinite] hover:before:animate-none motion-reduce:animate-none hover:before:bg-none;
		}

		.btn-text {
			@apply relative z-4 rounded-md px-5 py-2 text-white hover:bg-navy/50 hover:text-white/80 duration-200 transition-colors border bg-[radial-gradient(at_center,var(--color-pink)_2%,var(--color-red))] border-gold/30 hover:border-white/30 shadow-[0_0_16px_rgba(144,35,91,0.8)];
		}

		.btn {
			@apply z-4 rounded-md px-5 py-2 text-white transition-colors duration-200 hover:bg-navy/50 hover:text-white/80 bg-black w-35 h-10 border border-white/30;
		}
	}
}
	